.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
}

